@import "../../global.scss";

.topbar{
   background-color: #fff;
    width:100%;
    height:70px;
    position: fixed;
    z-index: 3;
    color:$mainColor;
    transition:all 1s ease;

    .wrapper{
        padding:10px 30px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;


        .right{

            .toggle{
                width:32px;
                height:25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                     span{
                         width:100%;
                         height:3px;
                         background-color: $mainColor;
                         transform-origin: left;
                         transition: all 2s ease;
                     }
            }
        }
    }

    &.active{
        background-color:$mainColor;
        color: #fff;

        .toggle{

            span{
                &:first-child{
                    background-color: #fff;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                   opacity:0;
                }
                &:last-child{
                    background-color: #fff;
                    transform: rotate(-45deg);
                }
            }
        }
    }

}