@import "../../global.scss";

.contact{
    background-color: #fff;
    display:flex;

    @include mobile{
        flex-direction: column;
    }

    .left{
        flex:1;
        overflow:hidden;
        img{
            height: 100%;
            width:100%;
            
        }
    }
    .right{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @include mobile{
        margin-bottom: 20px;
        }

        h2{
            font-size:30px;
        }

        form{
            width: 100%;
            height: 70%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;

        }
       
        input{
            width:300px;
            height:30px;
            font-size: 14px;

            @include mobile{
                width:250px;
            height:30px;
            }
        }

        textarea{
            width: 300px;
            height: 200px;
            font-size: 14px;

            @include mobile{
                width:250px;
            height:130px;
            overflow: hidden;
            }
        }

        button{
            width: 150px;
            height: 30px;
            color:#fff;
            background-color: crimson;
            border:none;
            border-radius: 10px;
            font-weight: 500;
            cursor:pointer;

            &.focus{
                outline: none;
            }
        }

        span{
            color:green;
        }

    }
}