@import "../../global.scss";

.works{
    background-color: #000;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
       


    
    .arrow{
     height:60px;
     position:absolute;
     cursor:pointer;
     background-color: #fff;

     @include mobile{
      height:30px;
      overflow: hidden;

     }
     
     


     &.left{
         left:100px;
         transform: rotate(-90deg);
         @include mobile{
             left:10px;
         }
     }

     &.right{
         right:100px;
         transform: rotate(90deg);
         @include mobile{
            right:10px;
        }
     }
    }


    .slider{
        height: 350px;
        display:flex;
        position: absolute;
        left:0vw;
        transition: all 1s ease-out;


        @include mobile{
            height: 50vh;
            
        }
       

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            

            .item{
                width: 700px;
                height: 100%;
                background-color: #fff;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;


                @include mobile{
                   width: 75%;
                   height: 60%;
                   margin:10px 0;
                }


            //    .left{
            //        height: 100%;
            //        display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     overflow: hidden;

                .imgcontainer{
                display: flex;
                align-items: center;
                justify-content: center;
                object-fit: cover;
                height: 100%;
                width: 80%;
                overflow: hidden;

                @include mobile{
                    width:75%;
                    height:60%;
                }


                
               
                // }
               }
              
            }
        }
    }
}