@import "../../global.scss";

.works{
    background-color: #000;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
       


    
    .arrow{
     height:60px;
     position:absolute;
     cursor:pointer;
     background-color: #fff;

     @include mobile{
      display:none;
    

     }
     
     


     &.left{
         left:100px;
         transform: rotate(-90deg);
         
     }

     &.right{
         right:100px;
         transform: rotate(90deg);
        
     }
    }


    .slider{
        height: 350px;
        display:flex;
        position: absolute;
        left:0vw;
        transition: all 1s ease-out;


        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            
        }
       

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            

            .item{
                width: 700px;
                height: 100%;
                background-color: #fff;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;


                @include mobile{
                   width: 90%;
                   height: 220px;
                   margin:25px 0;
                  
                }


            

                .imgcontainer{
                display: flex;
                align-items: center;
                justify-content: center;
                 object-fit: cover;
                height: 100%;
                width: 80%;
                overflow: hidden;

                @include mobile{
                    
                    width:80%;
                    height:80%;
                   
                }


                
               
                // }
               }
              
            }
        }
    }
}