.footer{
   background: #000000;
  

   .container{
    display:flex;
    flex-direction: column;
       color:#fff;
       text-align: center;
       align-items: center;
       justify-content: center;

       font-size: 30px;
       margin:10px;
       padding: 40px;

      @media (max-width:768px){

          font-size: 18px;
          margin:5px;
          padding:20px;
      }

      a{
          color:blue;
      }

      a:hover{
          opacity:0.5;
          cursor: pointer;
      }

       .icon{
           font-size: 50px;
         
       }

      
   }
   


   

}